
    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <%= image_tag("wefresh_logo.png", class: "img-responsive") %>
                    <div class="intro-text">
                        <span class="name">WeFreshed</span>
                        <hr class="star-light">
                        <span class="skills">"write something wefreshing"</span>
                    </div>
                </div>

                 <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/" class="btn-landing btn-lg btn-outline">
                        <i class="fa fa-rocket"></i> Get Started
                    </a>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
            </div>
            <div class="row">

                <div class="col-sm-4 portfolio-item">

                  <h2 style="color: #EC5825" class="text-center"> EXPRESS </h2>
                  <hr class="pen-primary">

                  <p><i>WeFreshed</i> is a place to anonymously post your personal thoughts, feelings, and expressions.</p>
                  <br>
                  <h4 style="color: #EC5825" class="text-center"><i style="text-align: center;" class="fa fa-star fa"></i> <i style="text-align: center;" class="fa fa-star fa"></i> <i style="text-align: center;" class="fa fa-star fa"></i> <i style="text-align: center;" class="fa fa-star fa"></i> </h4>
                </div>


                <div class="col-sm-4 portfolio-item">

                  <h2 style="color: #13BFD9" class="text-center"> WEACT </h2>
                  <hr class="arrow-primary">

                  <p><i>WeFreshed</i> lets you know how people reacted to your posts, and lets you react to the posts of others. </p>
                  <br>
                    <h4 style="color: #13BFD9" class="text-center"><i style="text-align: center;" class="fa fa-star fa"></i> <i style="text-align: center;" class="fa fa-star fa"></i> <i style="text-align: center;" class="fa fa-star fa"></i> <i style="text-align: center;" class="fa fa-star fa"></i> </h4>
                </div>


                <div class="col-sm-4 portfolio-item">

                  <h2 style="color: #6ABD45" class="text-center"> CONNECT </h2>
                  <hr class="star-primary">

                  <p><i>WeFreshed</i> connects you with like-minded people based on your mutual reactions.</p><br>
                    <br>
                  <h4 style="color: #6ABD45" class="text-center"><i style="text-align: center;" class="fa fa-star fa"></i> <i style="text-align: center;" class="fa fa-star fa"></i> <i style="text-align: center;" class="fa fa-star fa"></i> <i style="text-align: center;" class="fa fa-star fa"></i> </h4>
                </div>

            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">

            <h2 class="text-center">The Characters</h2>
             <br><br>
             
            <div class="row">
                <div class="col-md-3">
                    <p><i class="fa fa-arrow-circle-o-right"></i> Swipe or keypress in the <i style="color: #EC5825">right</i> direction if the post you just read has you feeling amused, happy or just puts a smile on your face.</p>
        
                    <%= image_tag("2.png", class: "img-responsive") %>

                </div>
                <div class="col-md-3">
                    <p><i class="fa fa-arrow-circle-o-down"></i> Not every post will have you laughing. If you react feeling sympathetic just push it <i style="color: #19C0D9">down</i> and a new post will load straight away.</p>
                    
                    <%= image_tag("3.png", class: "img-responsive") %>
                </div>
                <div class="col-md-3">
                    <p><i class="fa fa-arrow-circle-o-left"></i> Sometimes you will get angry or annoyed, that's just part of weacting. Just swipe in the <i style="color: #D14646">left</i> direction and take a deep breath. </p>
                    <%= image_tag("4.png", class: "img-responsive") %>
                </div>
                <div class="col-md-3">
                    <p><i class="fa fa-arrow-circle-o-up"></i> Meh. Blah. Huh? Those are completely normal reactions to have. Swipe <i style="color: #009344">up</i> when a post has you confused, ambivilent, or even a little disgusted. </p>
                    <%= image_tag("1.png", class: "img-responsive") %>
                </div>
                
            </div>
        </div>
    </section>
    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p><i>WeFreshed</i> is an anonymous, location-based social media app that allows users to react to text that other users post via swiping in the direction of one of four distinct emojis on their screen. Then, if two users connect based on their chosen emotional expectations, also known as a <i>Weef</i>, the users can peruse each other’s WeFreshed feeds and communicate with each other directly for 24 hours, at which point their Weef expires.</p>
                    <br>
                    
                </div>
                <div class="col-md-8">
                <p><i>WeFreshed</i> will be way to make connections that are based on shared interests/opinions that are highly unique and personal, as opposed to generic or obvious shared interests/opinions. WeFreshed will allow users to speak freely without social status interfering with their posts.</p>
                </div>
                <div class="col-md-4 text-center">
                <h4> Location Based and Anonymous </h4>
                <%= image_tag("map_location.png", class: "img-responsive") %>
                <div>
                
            </div>
        </div>
        <br><br>
        <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="/" class="btn-landing btn-lg btn-outline">
                        <i class="fa fa-rocket"></i> Get Started
                    </a>
                </div>
    </section>


    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">
                        
                    </div>
                    <div class="footer-col col-md-4">
                        <h3>Around the Web</h3>
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.instagram.com/wefreshed/" class="btn-social btn-outline"><i class="fa fa-fw fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="https://www.periscope.tv/wefreshed" class="btn-social btn-outline"><i class="fa fa-fw fa-product-hunt"></i></a>
                            </li>
                            <li>
                                <a href="https://twitter.com/WeFreshed" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="https://www.pinterest.com/wefreshed" class="btn-social btn-outline"><i class="fa fa-fw fa-pinterest"></i></a>
                            </li>
                            <li>
                                <a href="https://vine.co/u/1308640808538394624" class="btn-social btn-outline"><i class="fa fa-fw fa-vine"></i></a>
                            </li>
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; WeFreshed 2016
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

