<div class="jumbotron user">

<h3> my post archive: </h3>


<% @user.posts.each do |post| %>

<div class="post-div">
  <table class="table post-table">
    <tr>
      <td class="post-text-td"><%= post.text %></td>

      <td class="post-weaction-td"><%= post.get_percentage(1) %></td>

      <td class="post-weaction-td"><%= post.get_percentage(2) %></td>

      <td class="post-weaction-td"><%= post.get_percentage(3) %></td>

      <td class="post-weaction-td"><%= post.get_percentage(4) %></td>

  

      <td><a href=<%="/posts/#{post.id}"%> data-method="delete" data-confirm="You Sure?"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></a></td>
    </tr>
  </table>
</div>

<% end %>

<%= link_to "back", "/users/#{current_user.id}", class: "btn btn-default" %> 

</div>