<div class="jumbotron user">

<div class="row">

  <div class="col-xs-6 col-md-4"> <%= image_tag(@image, size: "200x200") %></div>

  <div class="col-xs-12 col-md-8">

 
          <h3><%= @user.name %></h3>
          <br />

          <p>place hoder slider bar / not yet funcational </p>      

          <section>
            <div class="view">
              <div class="example">
                <div id="slider-range"></div>
                <span class="example-val" id="slider-range-value"></span>
                  <script>
                    var rangeSlider = document.getElementById('slider-range');

                    noUiSlider.create(rangeSlider, {
                      start: [ <%= @user.location_radius %> ],
                      range: {
                        'min': [  5 ],
                        'max': [ 5000 ]
                      }
                    });
                  </script>   

                  <script>
                    var rangeSliderValueElement = document.getElementById('slider-range-value');

                    rangeSlider.noUiSlider.on('update', function( values, handle ) {
                      rangeSliderValueElement.innerHTML = values[handle];
                    });
                  </script>   
              </div>
            </div>
          </section>

          
          <h4>Set Location Radius:</h4>
          <%= form_tag "/users/#{current_user.id}", method: :patch do %>

            <%= radio_button_tag(:location_radius, 100) %>
            <%= label_tag(:radius_100, "100 miles") %>
            <%= radio_button_tag(:location_radius, 500) %>
            <%= label_tag(:radius_500, "500 miles") %>
            <%= radio_button_tag(:location_radius, 1000) %>
            <%= label_tag(:radius_1000, "1000 miles") %>
            <%= radio_button_tag(:location_radius, 5000) %>
            <%= label_tag(:radius_5000, "5000 miles") %>

          <%= submit_tag "Submit", class: "btn btn-default" %>
          <% end %>
    </div>
  </div>
    <hr>


<ul class="nav nav-tabs nav-justified">
  <li role="presentation" > <%= link_to "my posts", "/users"%></li>
  <li role="presentation"> <%= link_to "my weefs", "/weefs"%></li>
  <li role="presentation"><a data-toggle="modal" data-target="#myModal"> Settings </a></li>
</ul>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">User Settings</h4>
      </div>
      <div class="modal-body">
        <%= link_to "Delete Yourself!", "/users/#{current_user.id}", method: :delete, data:{confirm: "Are You Sure"}, :class => "btn btn-default", :role => "button" %> 
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>


