<div class="jumbotron user">

<div class="row">

  <div class="col-xs-6 col-md-4"> <%= image_tag(@image, size: "200x200") %></div>

  <div class="col-xs-12 col-md-8">

 
          <h3><%= @user.name %></h3>
          <br />
          <h4>Set Location Radius:</h4>
          <input id="ex1" data-slider-id='ex1Slider' type="text" data-slider-min="0" data-slider-max="20" data-slider-step="1" data-slider-value="14"/>

          <%= form_tag "/users/#{current_user.id}", method: :patch do %>

            <%= radio_button_tag(:location_radius, 100) %>
            <%= label_tag(:radius_100, "100 miles") %>
            <%= radio_button_tag(:location_radius, 500) %>
            <%= label_tag(:radius_500, "500 miles") %>
            <%= radio_button_tag(:location_radius, 1000) %>
            <%= label_tag(:radius_1000, "1000 miles") %>
            <%= radio_button_tag(:location_radius, 5000) %>
            <%= label_tag(:radius_5000, "5000 miles") %>

          <%= submit_tag "Submit", class: "btn btn-default" %>
          <% end %>
</div>
</div>
    <hr>


    <%= link_to "my posts", "/users", class: "btn btn-default" %> 

    <%= link_to "my weefs", "/weefs", class: "btn btn-default" %>

    <%= link_to "settings", "/posts/new", class: "btn btn-default" %>

    <%= link_to "Delete Yourself!", "/users/#{current_user.id}", method: :delete, data:{confirm: "Are You Sure"}, :class => "btn btn-default", :role => "button" %> 

</div>



