<% if current_user.posts.count == 0 %>
  <h1> Welcome New User! </h1>
  <h2> Please create an inaugural post to Activate your Account! </h2>
<% end %>

<h1> Write something WeFreshing! </h1>

<%= form_tag '/posts', method: :post do %>

  <div class="input-group input-group-lg">
    <%= label_tag :text, "Enter Text:" %>
    <%= text_field_tag :text, nil, class: 'form-control' %>
  </div>

  <div class="input-group">
    <%= label_tag :emotion_id, "Enter Your Emotion:" %>
    <%= collection_select :emotion, :emotion_id, Emotion.all, :id, :name, prompt: "Please Select", class: 'form-control' %>
  </div>

  <%= submit_tag "Submit", class: "input-group btn btn-primary" %>

<% end %>