<div class="jumbotron create-post">

<% if current_user.posts.count == 0 %>
  <h1> Welcome New User! </h1>
  <h2> Please create an inaugural post to Activate your Account! </h2>
<% end %>

<h1> Write something WeFreshing! </h1>

<%= form_tag '/posts', method: :post do %>

  <div class="input-group input-group-lg">
    <%= label_tag :text, "Enter Text" %>
    <%= text_field_tag :text, nil, class: 'form-control', rows: "3", placeholder: "Write Something WeFreshing", :size=>"50", :maxlength=>"254" %>
  </div>
<br />
  <div class="input-group">
  <%= radio_button_tag(:emotion_id, 1) %>
  <%= label_tag(:emotion_id, image_tag("Up.png", size: "80x80")) %>
  <%= radio_button_tag(:emotion_id, 2) %>
  <%= label_tag(:emotion_id, image_tag("Right.png", size: "80x80")) %>
  <%= radio_button_tag(:emotion_id, 3) %>
  <%= label_tag(:emotion_id, image_tag("Down.png", size: "80x80")) %>
  <%= radio_button_tag(:emotion_id, 4) %>
  <%= label_tag(:emotion_id, image_tag("Left.png", size: "80x80")) %>
  <div>
<br />

  <%= submit_tag "Submit", class: "input-group btn btn-primary" %>

<% end %>

</div>