<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@post.errors.count, "error") %> prohibited this product from being saved:</h2>
 
    <ul>
    <% @post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<div class="jumbotron create-post">

<% if current_user.posts.count == 0 %>
  <h1> Welcome New User! </h1>
  <h2> Please create an inaugural post to Activate your Account! </h2>
<% end %>

<h1> Write something WeFreshing </h1>

<%= form_tag '/posts', method: :post do %>

  <div class="input-group input-group-lg">
    <%= text_field_tag :text, nil, class: 'form-control', rows: "3", placeholder: "Write Something WeFreshing...", :size=>"50", :maxlength=>"254" %>
  </div>
<br />
  <p>then attach an emotion</p><br>
  <label>
  <%= radio_button_tag(:emotion_id, 1) %>
  <%= image_tag("1.png", size: "80x80") %>
  </label>
  <label>
  <%= radio_button_tag(:emotion_id, 2) %>
  <%= image_tag("2.png", size: "80x80") %>
  </label>
  <label>
  <%= radio_button_tag(:emotion_id, 3) %>
  <%= image_tag("3.png", size: "80x80") %>
  </label>
  <label>
  <%= radio_button_tag(:emotion_id, 4) %>
  <%= image_tag("4.png", size: "80x80") %>
  </label>

<br />
<hr>

  <%= submit_tag "Submit Post", class: "input-group btn btn-lg btn-custom" %>

<% end %>

</div>