<div id="touchsurface2" class="jumbotron view-post">
    <div id="inner">

    <h1><%= @post.text %></h1>

    <%= link_to "Excited (up)", "/posts/#{@post.id}?excited=id", class: "btn btn-success" %>

    <%= link_to "Amused (right)", "/posts/#{@post.id}?amused=id", class: "btn btn-primary" %>

    <%= link_to "Sympathetic (down)", "/posts/#{@post.id}?sympathetic=id", class: "btn btn-warning" %>

    <%= link_to "Annoyed (left)", "/posts/#{@post.id}?annoyed=id", class: "btn btn-danger" %>
   

    </div>
</div>

