<div class="jumbotron">
<div class="weef">

<h2>Your Weefs</h2>

<div class="weef-box">

<% @weefs.each do |weef| %>
  <h4> You weef'd with: <%= weef.weefer(current_user.id).name%></h4>
  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th class="post">Your Post</th>
      <th class="emotion">Your Emotion</th>
    </tr>
    <tr>
      <td><%= weef.my_post(current_user.id).text %></td>
      <td><%= weef.my_post(current_user.id).emotion.name %></td>
    </tr>
    </table>
  </div>

  <div class="table-responsive">
    <table class="table table-striped table-bordered table-condensed">
    <tr>
      <th class="post">Their Post</th>
      <th class="emotion">Their Emotion</th>
    </tr>
    <tr>
      <td><%= weef.their_post(current_user.id).text %></td>
      <td><%= weef.their_post(current_user.id).emotion.name %></td>
    </tr>
    </table>
  </div>

    <%= link_to "See your weefer's posts", "/weefs/#{weef.weefer(current_user.id).id}?their_posts=id", class: "btn btn-default" %>

    <%= link_to "See your weefer's weactions", "/weefs/#{weef.weefer(current_user.id).id}?their_weactions=id", class: "btn btn-default" %>

    <%= link_to "enter weef chat", "/chats/#{weef.id}", class: "btn btn-default" %>
<% end %>
  </div>
<br> 
</div>
</div>
