<!DOCTYPE html>
<html>
<head>
  <title>WeFreshed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= include_gon %>
</head>
<body>
  <div class="container">
<!-- FLASH MESSAGE -->

    <div class="container">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name == "alert" || name == "notice" ? "warning" : "name" %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
          </div>
      <% end %>
    </div>

 
      <%= yield %>


    <nav class="navbar navbar-default navbar-fixed-bottom">
        <%= render 'layouts/user_header' %>
    </nav>
    
  </div>
</body>
</html>
