<!DOCTYPE html>
<html>
<head>
  <title>WeFreshed</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= include_gon %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href='https://fonts.googleapis.com/css?family=Questrial|Montserrat' rel='stylesheet' type='text/css'>

<!--    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script> -->


</head>

<body id='bg'>


<%= render "layouts/user_header" %>


  
<!-- FLASH MESSAGE -->

    <div class="alert-container">
      <% flash.each do |name, message| %>
        <div class="alert alert-<%= name == "alert" || name == "notice" ? "warning" : "name" %> alert-dismissible" role="alert">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <%= message %>
          </div>
      <% end %>
    </div>

 
    <%= yield %>

  <!-- Modal -->
      <div class="modal fade active" id="flashModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 style="text-align: center; color: #00AEEF;" class="modal-title" id="myModalLabel">Weef Alert!</h4>
            </div>
            <div class="modal-body">
            <p style="text-align: center;"> Hurray! you just weefed! This is amazing.</p>
            <div style="width: 100%;" class="modal-img">
            <img style="border-radius: 100%; display: block; margin: auto;" src="http://a.fod4.com/images/GifGuide/dancing/flash2.gif" height="200" width="200">
            <p style="text-align: center;"> Click below to explore your new weef, or to continue weacting.</p>
            </div>
            </div>
            <div class="modal-footer">

              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              
              <%= link_to "Go to your weefs", "/weefs/", :class => "btn btn-primary", :role => "button" %> 

            </div>
          </div>
        </div>
      </div>



</body>
</html>
